<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Quiz App</title>
    <link rel="stylesheet" href="../../css/style.css" />
    <link rel="stylesheet" href="style.css" />
    <script defer src="quiz.js"></script>
  </head>
  <body>
    <!-- HEADER -->
    <header class="header">
      <div class="logo">
        <span class="logo-icon"> <img src="../../img/logo.png" alt=""></span>
        <h1>Quiz App</h1>
      </div>
      <nav>
        <a href="../index.html" class="btn">Edit quiz</a>
        <a href="play.html" class="btn">Play quiz</a>
      </nav>
    </header>

    <!-- START VIEW -->
    <main>
      <div id="start">
        <h1>Welcome to the Quiz</h1>
        <button id="startBtn">Start Quiz</button>
      </div>

      <!-- QUIZ VIEW -->
      <div id="quiz">
        <div id="question"></div>

        <div id="choices">
          <div class="choice" id="A">A</div>
          <div class="choice" id="B">B</div>
          <div class="choice" id="C">C</div>
          <div class="choice" id="D">D</div>
        </div>
      </div>

      <!-- SCORE VIEW -->
      <div id="scoreContainer"></div>
    </main>
  </body>
</html>
