<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Quiz App</title>
    <link rel="stylesheet" href="../css/style.css" />
    <script defer src="play/quiz.js"></script>
  </head>
  <body>
    <!-- HEADER -->
    <header class="header">
      <div class="logo">
        <span class="logo-icon"> <img src="../img/logo.png" alt=""></span>
        <h1>Quiz App</h1>
      </div>
      <nav>
        <a href="edit/edit.html" class="btn">Edit quiz</a>
        <a href="play/play.html" class="btn">Play quiz</a>
      </nav>
    </header>

    <!-- START VIEW -->
    <main>
      <div id="start">
        <img src="../img/welcome.jpg" alt="Brain mascot" class="brain-mascot" />
      </div>
    </main>
  </body>
</html>
